* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    line-height: 1.5;
    font-size: 1.6em;
    font-family: 'Lato', sans-serif;
    background-color: var(--light-color);
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.7rem;
    line-height: 1.3;
    font-family: 'Varela', sans-serif;
}

p {
    margin: 0.5rem 0;
}

/* nav etiketi */
#main-nav {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
}

#main-nav .container {
    padding: 1rem;
    display: grid;
    grid-template-columns: 0.6fr 3fr 2fr;
    align-items: center;
}

#main-nav .logo {
    width: 65px;
}

#main-nav ul {
    display: flex;
}

#main-nav ul li a {
    padding: 0.6rem;
    margin: 0.6rem;
    font-weight: bold;
    border-radius: 5px;
}

#main-nav ul li a:hover {
    color: var();
    background-color: var(--light-color);
}
#main-nav ul li .active {
    color: #fff;
    background-color: var(--primary-color);
}

#main-nav .social-icons {
    justify-self: end;
}

/* header etiketi */
#header {
    padding: 2rem;
    position: relative;
    color: #fff;
    background-color: #333;
}

#header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: url("../images/rowing.jpeg") no-repeat center center/cover;
}

#header .header-container {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

#header .header-content {
    z-index: 1;
}

#header .header-content p {
    margin-bottom: 1rem;
}

/* articles etiketi */
#main-articles .articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

/* footer etiketi */
#main-footer {
    color: #fff;
    background-color: var(--dark-color);
} 

#main-footer img {
    width: 150px;
}

#main-footer a {
    color: #fff;
}

#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;
}

#main-footer .footer-container input[type="email"] {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type="submit"] {
    width: 90%;
}

#main-footer .footer-container ul li {
    padding: 0.5rem 0;
    border-bottom: 1px dotted #333;
    width: 90%;
}

#main-footer .footer-container ul li a:hover {
    color: var(--primary-color);
}

#main-footer .footer-container > div:last-child {
    padding: 0.5rem;
    text-align: center;
    grid-column: 1 / span 4;
    background-color: #444;
}

/* article details etiketi */
.page-container {
    margin: 2.5rem 0;
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 1.5rem;
}

.page-container > *:first-child {
    grid-row: 1 / span 3;
}

#article .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #eee;
} 

.page-container #categories ul li {
    padding: 0.5rem 0;
    border-bottom: 1px dotted #333;
    width: 90%;
}

.page-container #categories ul li a:hover {
    color: var(--primary-color);
}